body{
  background:rgba(0, 128, 0, 0.103)
}
.container{
    margin:10%;

}
.start-time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.twobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top:20px;
}
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size:17px;
    padding:10px 12px;
    border:none;
    background-color: hsl(120, 98%, 51%);
    cursor: pointer;
}
#reset{
    background-color: red;
    color:white;
}